<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Geolocation :: Reset Password</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,400;0,500;0,700;0,900;1,200;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script>
      // Single quotes needed here!! important
      var status = "<% - JSON.stringify(status) %>";
      //
      // if (JSON.parse(status) == "verified") {
      // setTimeout(() => {
      //window.location.href = "https://auth.workybooks.com/app/root";
      //}, 5000)

      //}

      // Function to check Whether both passwords
      // is same or not.
      function checkPassword(form, event) {
        // event.preventDefault();
        password1 = form.password1.value;
        password2 = form.password2.value;

        // If password not entered
        if (password1 == "") {
          alert("Please enter Password");
          return false;
        }
        // If confirm password not entered
        else if (password2 == "") {
          alert("Please enter confirm password");
          return false;
        }
        // If Not same return False.
        else if (password1 != password2) {
          alert("\nPassword did not match: Please try again...");
          return false;
        }
        return true;
      }
    </script>

    <style type="text/css">
      #forgotBtn {
        transition: all ease-in 0.3s;
      }

      #forgotBtn:hover {
        cursor: pointer;
      }

      #message {
        display: none;
        background: #ffffff;
        color: #000;
        position: relative;
        margin: 0;
      }

      #message p {
        font-size: 12px;
      }

      .valid {
        color: rgb(32, 141, 76);
      }

      .valid:before {
        position: relative;
        left: -15px;
        content: "✔";
      }

      .invalid {
        color: red;
      }

      .invalid:before {
        position: relative;
        left: -15px;
        content: "✖";
      }
    </style>
  </head>

  <body style="font-family: 'Poppins', sans-serif">
    <div>
      <img
        width="85"
        style="margin-left: 2rem"
        src="
      "
        title="logo"
        alt="logo"
      />
    </div>
    <div
      style="
        display: block;
        width: auto;
        max-width: 720px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 40px;
        border: 1px solid #f0f0f0;
        border-radius: 6px;
        text-align: center;
      "
    >
      <div
        style="
          margin-bottom: 2rem;
          margin-top: 3rem;
          font-size: 1.875rem;
          line-height: 2.25rem;
          font-weight: 700;
        "
      >
        Reset Password
      </div>

      <div id="resetform">
        <h1
          style="
            color: #333333;
            font-size: 26px;
            font-weight: 700;
            margin-bottom: 32px;
          "
        >
          Hello, <%= firstName %>
        </h1>

        <p style="margin-bottom: 6px; color: #4b5563; font-size: 16px">
          Enter a new password below to change your password.
        </p>
        <form action="" method="post" onsubmit="return validate(event)">
          <input
            type="password"
            name="password1"
            id="password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
            placeholder="password"
            style="
              margin: 0.5rem;
              border-radius: 6px;
              width: 16rem;
              padding-top: 0.5rem;
              padding-bottom: 0.5rem;
              border-color: #e5e7eb;
            "
          />

          <br />

          <input
            type="password"
            name="password2"
            id="password2"
            placeholder="confirm-password"
            style="
              margin: 0.5rem;
              border-radius: 6px;
              width: 16rem;
              padding-top: 0.5rem;
              padding-bottom: 0.5rem;
              border-color: #e5e7eb;
            "
          />

          <br />

          <input
            type="submit"
            value="RESET PASSWORD"
            id="forgotBtn"
            style="
              background-color: #4f46e5;

              display: inline-block;
              padding-top: 0.5rem;
              padding-bottom: 0.5rem;
              padding-left: 2rem;
              padding-right: 2rem;
              font-size: 0.875rem;
              line-height: 1.25rem;
              border-radius: 0.5rem;
              color: #ffffff;
              margin-top: 2rem;
            "
          />
        </form>
        <div id="message" style="font-weight: 400; font-size: 0.25rem">
          <p>Password must contain the following:</p>
          <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
          <p id="capital" class="invalid">
            A <b>capital (uppercase)</b> letter
          </p>
          <p id="number" class="invalid">A <b>number</b></p>
          <p id="length" class="invalid">Minimum <b>6 characters</b></p>
          <p id="pmatch" class="invalid">Confirm password</p>
        </div>
      </div>
    </div>

    <script>
      var myInput = document.getElementById("password");
      var myInput2 = document.getElementById("password2");

      var letter = document.getElementById("letter");
      var capital = document.getElementById("capital");
      var number = document.getElementById("number");
      var length = document.getElementById("length");
      var pmatch = document.getElementById("pmatch");

      function validate(event) {
        var lowerCaseLetters = /[a-z]/g;
        let valid = true;
        if (myInput.value.match(lowerCaseLetters)) {
          letter.classList.remove("invalid");
          letter.classList.add("valid");
        } else {
          letter.classList.remove("valid");
          letter.classList.add("invalid");
          valid = false;
        }

        // Validate capital letters
        var upperCaseLetters = /[A-Z]/g;
        if (myInput.value.match(upperCaseLetters)) {
          capital.classList.remove("invalid");
          capital.classList.add("valid");
        } else {
          capital.classList.remove("valid");
          capital.classList.add("invalid");
          valid = false;
        }

        // Validate numbers
        var numbers = /[0-9]/g;
        if (myInput.value.match(numbers)) {
          number.classList.remove("invalid");
          number.classList.add("valid");
        } else {
          number.classList.remove("valid");
          number.classList.add("invalid");
          valid = false;
        }

        // Validate length
        if (myInput.value.length >= 6) {
          length.classList.remove("invalid");
          length.classList.add("valid");
        } else {
          length.classList.remove("valid");
          length.classList.add("invalid");
          valid = false;
        }
        //validate match
        if (myInput.value == myInput2.value) {
          pmatch.classList.remove("invalid");
          pmatch.classList.add("valid");
        } else {
          pmatch.classList.remove("valid");
          pmatch.classList.add("invalid");
          valid = false;
        }
        if (event && !valid) event.preventDefault();
        if (!valid) {
          document.getElementById("message").style.display = "block";
        } else {
          document.getElementById("message").style.display = "none";
        }

        return valid;
      }

      // When the user clicks on the password field, show the message box
      myInput.onfocus = function () {
        document.getElementById("message").style.display = "block";
      };

      // When the user clicks outside of the password field, hide the message box
      myInput.onblur = function () {
        // document.getElementById("message").style.display = "none";
      };

      // When the user clicks on the password field, show the message box
      myInput2.onfocus = function () {
        document.getElementById("message").style.display = "block";
      };

      // When the user clicks outside of the password field, hide the message box
      myInput2.onblur = function () {
        //document.getElementById("message").style.display = "none";
      };
      // When the user starts to type something inside the password field
      myInput2.onkeyup = function () {
        // Validate lowercase letters
        validate();
      };

      // When the user starts to type something inside the password field
      myInput.onkeyup = function () {
        // Validate lowercase letters
        validate();
      };
    </script>
  </body>
</html>
